@import "../../components/styles/responsive.scss";
@import "../../components/styles/variables.scss";

.password {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	//   padding: 50px 30px;

	@include sm {
		.gradient-bg {
			display: none;
		}
	}

	.gradient-bg {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: -10;
	}

	.wrapper {
		background: $white;
		max-width: 450px;
		border-radius: 20px;
		padding: 30px 30px;

		a {
			display: flex;
			gap: 7px;
			margin-bottom: 20px;

			p {
				color: $red-200;
			}
		}
		h1 {
			color: $black;
			line-height: 38px;
			font-weight: 700;
			font-size: 30px;
			margin-bottom: 8px;
		}
		p {
			color: $black;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
		}
		form {
			margin-top: 5px;

			label {
				display: grid;
				grid-template-columns: 1fr;
				color: $black;
				font-weight: 500;
				gap: 6px;
				padding: 15px 0;
				div {
					display: flex;
					width: 100%;
					position: relative;

					img {
						position: absolute;
						right: 16px;
						top: 14px;
					}
				}
				input {
					max-width: 414px;
					width: 100%;
					padding: 10px 14px;
					border-radius: 8px;
					font-weight: 400;
					border: 1px solid $gray-100;
					border: none;
					outline: none;
					border: 1px solid grey;
				}
			}
			button {
				background: $red-200;
				color: $white;
				font-weight: 500;
				margin-top: 10px;
				width: 100%;
				border-radius: 30px;
				padding: 12px 20px;
				margin-bottom: px;
			}
		}
	}
}
