@import "../../components/styles/responsive.scss";
@import "../../components/styles/variables.scss";

.signup {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;

	@include sm {
		.gradient-bg {
			display: none;
		}
	}
	.gradient-bg {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: -10;
	}

	.container {
		background: $white;
		max-width: 478px;
		border-radius: 20px;
		padding: 50px 30px 40px;

		h2 {
			font-weight: 700;
			font-size: 30px;
			color: $black;
			margin-top: 20px;
		}

		.text {
			color: $black-200;
			font-weight: 500;
		}
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 14px;
			margin: 10px 0;

			span {
				border: 1px solid $gray-100;
				border-radius: 8px;
				padding: 24px 16px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 8px;
				&:hover {
					border: 1px solid $red-200;
				}
				&.active {
					border: 1px solid $red-200;
				}
				h4 {
					font-weight: 600;
					color: $black;
					text-align: center;
				}
				p {
					font-weight: 400;
					text-align: center;
					font-size: 12px;
					line-height: 1.4;
				}
			}
		}
		button {
			background-color: $red-200;
			width: 100%;
			border-radius: 30px;
			color: $white;
			padding: 12px 20px;
			margin-top: 10px;
			&:disabled {
				background-color: $red-300;
			}
		}
	}
}
