@import "./components/styles/variables.scss";
@import "./components/styles/responsive.scss";

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.landing {
	h2 {
		color: $black;
		font-weight: 600;
		font-size: 28px;
		text-align: center;
		@include md {
			font-size: 20px;
		}
	}

	h3 {
		color: $blue-500;
		letter-spacing: 0;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		@include md {
			font-size: 14px;
			letter-spacing: 0;
		}
	}

	h4 {
		color: $black;
		font-size: 17px;
		font-weight: 600;
		margin: 20px 0 5px;
		line-height: normal;
		text-align: center;
		@include lg {
			font-size: 15px;
		}
	}
	p {
		color: $gray-300;
		font-size: 15px;
		line-height: 1.5;
		@include md {
			font-size: 14px;
		}
	}
	.headText {
		color: $gray-300;
		font-size: 14px;
		line-height: 1.5;
		@include md {
			font-size: 12.5px;
		}
	}
}

.landingHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	p {
		text-align: center;
		max-width: 643px;
		margin: auto;
	}
	@include md {
		gap: 5px;
	}
}

.page {
	.background {
		width: 100%;
		img {
			width: 100%;
			height: 200px;
		}
	}
	h1 {
		color: $blue-500;
		text-align: center;
		padding: 40px;
	}
}

::-webkit-scrollbar {
	width: 2px !important;
	background-color: transparent;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: $gray-100;
	border-radius: 20px;
}

.custom-input {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;

	input[type="file"] {
		position: absolute;
		border: 2px solid;
		opacity: 0;
	}
}
