@import "../../components/styles/responsive.scss";
@import "../../components/styles/variables.scss";

.resetPwd {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	@include sm {
		padding: 0;
		.gradient-bg {
			display: none;
		}
	}
	.gradient-bg {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: -10;
	}
	.container {
		background: $white;
		max-width: 478px;
		border-radius: 20px;
		padding: 50px 30px;

		a {
			display: flex;
			gap: 7px;
			p {
				color: $red-200;
			}
		}
		h2 {
			font-weight: 700;
			font-size: 30px;
			color: $black;
			margin-top: 20px;
		}

		.text {
			color: $black;
		}

		form {
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			.sub_wrapper {
				display: grid;
				gap: 16px;
				margin-top: 10px;

				label {
					display: grid;
					grid-template-columns: 1fr;
					color: $black;
					font-weight: 500;
					gap: 6px;
					input {
						max-width: 414px;
						width: 100%;
						padding: 10px 14px;
						border-radius: 8px;
						font-weight: 400;
						border: 1px solid $gray-100;
					}
				}
			}
			button {
				background: $red-200;
				color: $white;
				font-weight: 500;
				margin-top: 15px;
				max-width: 414px;
				border-radius: 30px;
				padding: 12px 20px;
			}
		}
	}

	.emailContainer {
		background: $white;
		max-width: 478px;
		width: 100%;
		border-radius: 20px;
		padding: 50px 30px;

		a {
			display: flex;
			gap: 7px;
			p {
				color: $red-200;
			}
		}

		h2 {
			font-weight: 700;
			font-size: 30px;
			color: $black;
			margin-top: 20px;
		}

		.resend {
			color: $red-200;
			font-weight: 500;
			cursor: pointer;
		}

		.text {
			color: $black;
			font-size: 16px;
			line-height: 1.5;
		}
		.text2 {
			color: $black;
			font-size: 16px;
			line-height: 1.5;
			margin-top: 20px;
			text-align: center;
		}

		button {
			background: $red-200;
			color: $white;
			font-weight: 500;
			margin-top: 20px;
			max-width: 414px;
			width: 100%;
			border-radius: 30px;
			padding: 12px 20px;
		}
	}
}
