@import "../components/styles/responsive.scss";
@import "../components/styles/variables.scss";

.dashboard {
	max-width: 1800px;
	margin: auto;
	display: grid;

	h2 {
		font-weight: 600;
		font-size: 30px;
		line-height: normal;
		@include xl {
			font-size: 25px;
		}
		@include lg {
			font-size: 23px;
		}
		@include md {
			font-size: 20px;
		}
	}
	p {
		line-height: normal;
		font-size: 18px;
		@include xl {
			font-size: 16px;
		}
		@include lg {
			font-size: 15px;
		}
		@include md {
			font-size: 14px;
		}
	}

	.sidebar {
		padding: 25px 10px 50px 20px;
		width: 280px;
		@include xl {
			width: 265px;
		}
		@include lg {
			width: auto;
			.sideBtn,
			p {
				display: none;
			}
		}
	}

	.dashContainer {
		position: relative;
		padding-left: 280px;
		margin: 0;
		@include xl {
			padding-left: 265px;
		}
		@include lg {
			padding-left: 50px;
		}
		header {
			display: flex;
			background: $white;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			gap: 26px;
			justify-content: end;
			padding: 0 30px;
			height: 72px;
			max-width: 1800px;
			z-index: 5;
			// border-bottom: 1px solid $gray-150;
		}

		main {
			margin: auto;
			padding: 100px 40px 0;
			height: 100%;
		}
	}
}
