$black: #14151a;
$black-300: #1d2a2a;
$black-200: #0f132499;

$gray-400: #bbbab9;
$gray-300: #dee0e3;
$gray-200: #eaecf0;
$gray-100: #f7f7f8;
$gray-50: #0a0f290a;

$blue-500: #0017a0;

$green-500: #067647;
$green-400: #077534;
$green-200: #abefc6;
$green-100: #ecfdf3;

$red-300: #be173369;
$red-200: #be1732;
$red-100: #ffeee7;
$red-50: #fce5e4;

$pink: #be17320d;
$gray-300: #0f132499;

// Dashboard

// Landing Page
$gray: #4e4a4ad8;
$light_gray: #9c9494;
$yellow: #f7e601;
$green: #01f70d;

$white: #fff;
$light: #ffffff44;
